<div class="grid grid-cols-2 justify-items-center px-3 md:grid-cols-4 gap-4 -mt-[700px]">
  <img
    src="images/templates-demo/template-1.jpg"
    (click)="selectTemplate('template-1')"
    alt=""
    class="w-[100px] md:w-full cursor-pointer rounded-lg shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-xl"
  />
  <img
    src="images/templates-demo/template-2.jpg"
    (click)="selectTemplate('template-2')"
    alt=""
    class="w-[100px] md:w-full cursor-pointer rounded-lg shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-xl"
  />
  <img
    src="images/templates-demo/template-3.jpg"
    (click)="selectTemplate('template-3')"
    alt=""
    class="w-[100px] md:w-full cursor-pointer rounded-lg shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-xl"
  />
   <img
    src="images/templates-demo/template-4.jpg"
    (click)="selectTemplate('template-4')"
    alt=""
    class="w-[100px] md:w-full cursor-pointer rounded-lg shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-xl"
  />
  <img
    src="images/templates-demo/template-5.jpg"
    (click)="selectTemplate('template-5')"
    alt=""
    class="w-[100px] md:w-full cursor-pointer rounded-lg shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-xl"
  />
</div>
