<div class="border-black max-h-840px bg-[#E6E6E6]" id="cont">
  <div class="flex items-center justify-between ">
    <app-color-switcher></app-color-switcher>

    <!-- <button mat-raised-button color="primary" (click)="openPreviewDialog()" >
      {{ "PREVIEW" | translate }}
    </button> -->
  </div>

  <div

    id="scale1"
    [ngClass]="{
      'scale-right': currentLang === 'ar',
      'scale-left': currentLang !== 'ar'
    }"
     [style.transform-origin]="getTransformOrigin()"
     class="m-4 md:m-0"
  >
    <div id="resumeContent" *ngIf="resumeData.template === 'modern'">
      <app-template-modern></app-template-modern>
    </div>

    <div id="resumeContent" *ngIf="resumeData.template === 'classic'">
      <app-template-classic></app-template-classic>
    </div>

    <div id="resumeContent" *ngIf="resumeData.template === 'minimal'">
      <app-template-minimal></app-template-minimal>
    </div>

    <div

      *ngIf="resumeData.template === 'template-1' && currentLang"
      [ngClass]="{
        'transform-origin-right': currentLang === 'ar',
        'transform-origin-left': currentLang !== 'ar'
      }"
      (click)="saveResumeTemplate()"
      [ngClass]="{
        'mobile-scale': !isMobile,
        'mobile-scale-ar': !isMobile && currentLang === 'ar'
      }"
      id="printableContent"
    >
      <app-template-1 [selectedTheme]="selectedTheme"  id="resumeContent"></app-template-1>
    </div>

    <div
      *ngIf="resumeData.template === 'template-2'"
      [ngClass]="{
        'transform-origin-right': currentLang === 'ar',
        'transform-origin-left': currentLang !== 'ar'
      }"
      (click)="saveResumeTemplate()"
      
    >
      <app-template-2 id="resumeContent"></app-template-2>
    </div>

    <div
      *ngIf="resumeData.template === 'template-3'"
      [ngClass]="{
        'transform-origin-right': currentLang === 'ar',
        'transform-origin-left': currentLang !== 'ar'
      }"
      (click)="saveResumeTemplate()"

    >
      <app-template-3 id="resumeContent"></app-template-3>
    </div>

    <div
      *ngIf="resumeData.template === 'template-4'"
      [ngClass]="{
        'transform-origin-right': currentLang === 'ar',
        'transform-origin-left': currentLang !== 'ar'
      }"

    >
      <app-template-4 id="resumeContent"></app-template-4>
    </div>

    <div
      *ngIf="resumeData.template === 'template-5'"
      [ngClass]="{
        'transform-origin-right': currentLang === 'ar',
        'transform-origin-left': currentLang !== 'ar'
      }"
      (click)="saveResumeTemplate()"
      id="printableContent"
    >
      <app-template-5 id="resumeContent"></app-template-5>
    </div>
  </div>
</div>
