<div class="flex justify-center min-w-[210mm] min-h-[297mm]">
  <div class="bg-white shadow-lg w-full">
    <!-- Header Section -->
    <div
      class="text-white text-center py-10 relative min-w-[210mm] max-w-[210mm]"
      [ngStyle]="{
        'background-color':
          selectedTheme === 'custom'
            ? customColor
            : colorThemesNew[selectedTheme].head,
        color: 'white'
      }"
    >
      <img
        *ngIf="resumeData.profileImage"
        [src]="resumeData.profileImage"
        alt="Profilbild"
        class="w-24 h-24 rounded-full mx-auto border-4 border-white -mb-16"
      />
    </div>

    <div class="text-center mt-16 px-10 min-h-[60px]">
      <p
        class="text-2xl font-semibold"
        *ngIf="resumeData.firstName || resumeData.lastName"
      >
        {{ resumeData.firstName }} {{ resumeData.lastName }}
      </p>
      <p
        class="text-sm text-gray-600 mt-2 break-words max-w-2xl items-center"
        *ngIf="resumeData.aboutMe"
      >
        <span
          class="mt-4 text-sm px-2 text-center leading-relaxed break-words max-w-md"
        >
          {{ resumeData?.aboutMe }}
        </span>
      </p>
    </div>

    <!-- Content Section -->
    <div class="flex mt-8">
      <!-- Left Column -->
      <div
        class="w-1/3 text-white px-6 py-8 min-h-[244mm]"
        [ngStyle]="{
          'background-color':
            selectedTheme === 'custom'
              ? customColor
              : colorThemesNew[selectedTheme].head,
          color: 'white'
        }"
      >
        <p
          class="text-2xl font-semibold mb-10"
          *ngIf="
            resumeData?.address ||
            resumeData?.zipCode ||
            resumeData?.city ||
            resumeData?.country ||
            resumeData?.phone
          "
        >
          {{ "CONTACT" | translate }}
        </p>
        <div class="space-y-3 text-sm mt-3 mb-10 overflow-hidden">
          <p
            class="flex justify-start items-start gap-2 break-words"
            *ngIf="resumeData.address"
          >
            <mat-icon>location_on</mat-icon>
            <span class="leading-relaxed break-words max-w-md"
              >{{ resumeData.address }} <span *ngIf="resumeData.address">, </span> {{ resumeData.city }}
              {{ resumeData.zipCode }}</span
            >
          </p>
          <p
            class="flex justify-start items-start gap-2"
            *ngIf="resumeData.country"
          >
            <mat-icon>home</mat-icon>
            <span class="leading-relaxed break-words max-w-md">{{
              resumeData.country
            }}</span>
          </p>
          <p
            class="flex justify-start items-start gap-2"
            *ngIf="resumeData.phone"
          >
            <mat-icon>phone</mat-icon>
            <span class="leading-relaxed break-words max-w-md">
              {{ resumeData.phone }}</span
            >
          </p>
          <p *ngIf="resumeData.email && resumeData.email.length > 0">
            <span
              *ngFor="let email of resumeData.email; let i = index"
              class="flex gap-2"
            >
              <mat-icon>email</mat-icon>
              <p class="leading-relaxed break-words max-w-md">
                {{ email }}
              </p>
              <span *ngIf="i !== resumeData.email.length - 1"></span>
            </span>
          </p>
          <!-- <p><i class="fas fa-envelope"></i> {{ resumeData.birthDate }}</p> -->
          <p
            class="flex justify-start items-start gap-2"
            *ngIf="resumeData.birthDate"
          >
            <mat-icon>date_range</mat-icon>
            <span class="leading-relaxed break-words max-w-md">{{
              resumeData.birthDate | date : "dd/MM/yyyy"
            }}</span>
          </p>
        </div>

        <p
          class="text-xl font-semibold mt-10 mb-10"
          *ngIf="resumeData.skills && resumeData.skills.length > 0"
        >
          {{ "SKILLS" | translate }}
        </p>
        <ul class="text-sm space-y-2 mb-5 mt-3">
          <li *ngFor="let skill of resumeData.skills">{{ skill }}</li>
        </ul>

        <p
          class="text-xl font-semibold mt-20 mb-10"
          *ngIf="resumeData.languages && resumeData.languages.length > 0"
        >
          {{ "LANGUAGES" | translate }}
        </p>
        <ul class="text-sm space-y-2 mt-3">
          <li *ngFor="let language of resumeData.languages">
            {{ language.language }} <span *ngIf="language.language ">-</span>  {{ language.level }}
          </li>
        </ul>
      </div>

      <!-- Right Column -->
      <div class="w-2/3 px-8 py-8">
        <p
          class="text-2xl font-semibold mb-6"
          *ngIf="resumeData.experience && resumeData.experience.length > 0"
        >
          {{ "EXPERIENCE" | translate }}
        </p>

        <div class="mb-6 mt-2" *ngFor="let experience of resumeData.experience">
          <p class="font-semibold" *ngIf="experience.jobTitle">
            {{ experience.jobTitle }}
          </p>
          <p
            class="text-sm text-gray-600"
            *ngIf="
              experience?.industry ||
              experience?.fieldOfActivity ||
              experience?.fieldOfActivity
            "
          >
            {{ experience?.industry }}, {{ experience?.fieldOfActivity }},
            {{ experience?.careerLevel }}
            <span class="font-semibold"
              >{{ experience.startDate | date : "dd/MM/yyyy" }} <span *ngIf="experience.startDate">-</span>
              <span *ngIf="!experience.stillInWork">
                {{ experience?.endDate | date : "dd/MM/yyyy" }}</span
              >
              <span *ngIf="experience.stillInWork">
                {{ "NOW" | translate }}</span
              ></span
            >
          </p>
          <ul class="text-ssm mt-2 list-disc pl-5 space-y-1">
            <li *ngFor="let task of experience.tasks">
              {{ task }}
            </li>
          </ul>
        </div>

        <p
          class="text-2xl font-semibold mb-6"
          *ngIf="resumeData.training && resumeData.training.length > 0"
        >
          {{ "TRAINING" | translate }}
        </p>

        <div class="mb-4" *ngFor="let training of resumeData.training">
          <p
            class="font-semibold"
            *ngIf="training?.specialization || training?.diploma"
          >
            {{ training?.specialization }} <span *ngIf="training?.specialization">, </span> {{ training?.diploma }}
          </p>
          <p class="text-sm text-gray-600" *ngIf="training.college">
            {{ training.college }}
            <span class="font-semibold"
              >{{ training.startDate | date : "dd/MM/yyyy" }} <span *ngIf="training.startDate">-</span>
              {{ training.endDate | date : "dd/MM/yyyy" }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
