li{
  // margin-top: 10px;
}
mat-icon{
  overflow: visible;
}
p{
  margin: 0;
}
.about-me {
  max-width: 500px; /* Set the maximum width for the paragraph */
  margin: 0 auto;   /* Center the paragraph within its parent */
  text-align: left; /* Align text to the left for better readability */
  line-height: 1.5; /* Improve readability with line height */
}
