<div class="">
  <div class="bg-white w-[210mm] min-h-[297mm]">
    <!-- Header Section (Name & Image) -->
    <div
      class="flex justify-between items-center"
      [ngStyle]="{
        'background-color':
          selectedTheme === 'custom'
            ? customColor
            : colorThemesNew[selectedTheme].head,
        color: 'white'
      }"
    >
      <div
        class="flex justify-between clippath"
        [ngStyle]="{
          'background-color':
            selectedTheme === 'custom'
              ? customColor
              : colorThemesNew[selectedTheme].back,
          color: 'white'
        }"
      >
        <h5
          class="text-xl font-bold name"
          *ngIf="resumeData?.firstName || resumeData?.lastName"
        >
          {{ resumeData?.firstName }} {{ resumeData?.lastName }}
        </h5>
      </div>
      <div class="w-1/3">
        <img
          *ngIf="resumeData?.profileImage"
          [src]="resumeData?.profileImage"
          alt="Profilbild"
          class="w-40 h-40 rounded-full border shadow-md object-cover mb-2"
        />
      </div>
    </div>

    <div class="flex flex-1">
      <!-- Left Sidebar (Fixed Full Height) -->
      <div class="w-1/3 flex flex-col px-3">
        <div class="mt-6">
          <p
            *ngIf="
              resumeData?.address ||
              resumeData?.zipCode ||
              resumeData?.city ||
              resumeData?.country ||
              resumeData?.phone
            "
            class="text-lg font-normal border-b-4 border-b-[rgba(20, 71, 108, 0.2)] w-full inline-block print:mt-5"
          >
            {{ "CONTACT" | translate }}
          </p>

          <ul class="text-sm py-4 overflow-hidden">
            <li class="flex items-center flex-wrap" *ngIf="resumeData?.address">
              <mat-icon>location_on</mat-icon>
              <span class="leading-relaxed break-words max-w-md">{{
                resumeData?.address
              }}</span>
              <br />
            </li>
            <li
              class="flex items-center flex-wrap"
              *ngIf="resumeData?.zipCode || resumeData?.city"
              [ngStyle]="{
                color: selectedTheme != 'gbRiAl' ? 'black' : 'white'
              }"
            >
              <mat-icon>location_city</mat-icon>
              <span class="leading-relaxed break-words max-w-md"
                >{{ resumeData?.zipCode }} {{ resumeData?.city }}</span
              >
            </li>
            <li
              class="flex items-center flex-wrap"
              *ngIf="resumeData?.country"
              [ngStyle]="{
                color: selectedTheme != 'gbRiAl' ? 'black' : 'white'
              }"
            >
              <mat-icon>home</mat-icon>
              <span class="leading-relaxed break-words max-w-md">{{
                resumeData?.country
              }}</span>
            </li>
            <li
              class="flex items-center flex-wrap"
              *ngIf="resumeData?.phone"
              [ngStyle]="{
                color: selectedTheme != 'gbRiAl' ? 'black' : 'white'
              }"
            >
              <mat-icon> phone</mat-icon>

              <span class="leading-relaxed break-words max-w-md">{{
                resumeData?.phone
              }}</span>
            </li>
            <li
              class="flex items-start"
              *ngIf="resumeData?.email && resumeData?.email.length > 0"
              [ngStyle]="{
                color: selectedTheme != 'gbRiAl' ? 'black' : 'white'
              }"
            >
              <div>
                <span
                  *ngFor="let email of resumeData?.email; let isLast = last"
                >
                  <p class="flex items-start gap-2">
                    <mat-icon> email</mat-icon>

                    {{ email }}<span *ngIf="!isLast"><br /></span>
                  </p>
                </span>
              </div>
            </li>
            <li
              class="flex items-center flex-wrap"
              *ngIf="resumeData?.birthDate || resumeData?.placeOfBirth"
              [ngStyle]="{
                color: selectedTheme != 'gbRiAl' ? 'black' : 'white'
              }"
            >
              <mat-icon>date_range</mat-icon>

              <span class="whitespace-nowrap">{{
                resumeData?.birthDate |  date:'dd.MM.yyyy'
              }}</span>
              ,
              <br />
              <span
                class="leading-relaxed break-words max-w-md overflow-hidden"
                >{{ resumeData?.placeOfBirth }}</span
              >
            </li>
          </ul>
        </div>

        <div
          class="mt-6"
          *ngIf="resumeData?.skills && resumeData?.skills.length > 0"
        >
          <p
            class="text-lg font-normal border-b-4 border-b-[rgba(20, 71, 108, 0.2)] w-full inline-block print:mt-5"
          >
            {{ "SKILLS" | translate }}
          </p>
          <ul class="text-sm px-2 py-4">
            <li
              [ngStyle]="{
                color: selectedTheme != 'gbRiAl' ? 'black' : white
              }"
              *ngFor="let skill of resumeData?.skills"
            >
              <p>{{ skill }}</p>
            </li>
          </ul>
        </div>

        <div class="mt-6 max-w-md overflow-hidden" *ngIf="resumeData?.aboutMe">
          <p
            class="text-lg font-normal border-b-4 border-b-[rgba(20, 71, 108, 0.2)] w-full inline-block print:mt-5"
          >
            {{ "ABOUT_ME" | translate }}
          </p>
          <p class="mt-4 text-sm px-2 py-4 leading-relaxed break-words">
            {{ resumeData?.aboutMe }}
          </p>
        </div>

        <!-- <div class="mt-auto text-sm text-gray-300">Seite 1</div> -->
      </div>

      <!-- Right Content -->
      <div class="w-2/3 p-6 py-0">
        <div
          class="mt-6"
          *ngIf="resumeData?.experience && resumeData?.experience.length > 0"
        >
          <p
            class="text-lg font-normal border-b-4 border-b-[rgba(20, 71, 108, 0.2)] w-full inline-block print:mt-5"
          >
            {{ "EXPERIENCE" | translate }}
          </p>

          <div *ngFor="let experience of resumeData?.experience" class="py-4">
            <p class="font-semibold flex justify-between">
              {{ experience?.employer }}
              <span class="text-gray-500 text-xs"
                ><p class="text-sm text-gray-600">
                  {{ experience?.startDate |  date:'MM.yyyy'  }}
                  <span *ngIf="experience?.startDate">-</span>
                  <span *ngIf="!experience.stillInWork">
                    {{ experience?.endDate |  date:'MM.yyyy'  }}</span
                  >
                  <span *ngIf="experience.stillInWork">
                    {{ "NOW" | translate }}</span
                  >
                </p></span
              >
            </p>
            <p class="text-gray-700">{{ experience?.jobTitle }}</p>


            <!-- <p class="text-gray-700">
              {{ experience?.industry }}, {{ experience?.fieldOfActivity }},
              {{ experience?.careerLevel }}
            </p> -->

            <ul
              class="list-disc list-inside text-gray-600"
              *ngFor="let task of experience?.tasks"
            >
              <li>
                {{ task }}
              </li>
            </ul>
          </div>
        </div>

        <!--  -->
        <div
          class="mt-4"
          *ngIf="resumeData?.training && resumeData?.training.length > 0"
        >
          <p
            class="text-lg font-normal border-b-4 border-b-[rgba(20, 71, 108, 0.2)] w-full inline-block print:mt-5"
          >
            {{ "TRAINING" | translate }}
          </p>
          <!-- <div
            *ngFor="let training of resumeData?.training"
            class="mt-4 px-6 text-black"
          >
            <p class="font-semibold">{{ training?.college }}</p>
            <p class="text-sm text-gray-600">
              {{ training?.startDate | date }} – {{ training?.endDate | date }}
            </p>
            <p class="font-semibold">{{ training?.diploma }}</p>
            <p class="font-semibold">{{ training?.specialization }}</p>
          </div> -->

          <div
            class="mt-4 flex justify-between items-start"
            *ngFor="let training of resumeData?.training"
          >
            <div>
               <p class="text-gray-600 flex justify-between font-semibold">
                {{ training?.college }}
              </p>
              <p class="font-normal">
                {{ training?.specialization }}
              </p>
              <p class="font-normal">
                 {{ training?.diploma }}
              </p>

            </div>
            <span class="text-sm text-gray-600 font-semibold">
              {{ training?.startDate |  date:'MM.yyyy'  }} <span *ngIf="training?.startDate">-</span>
              {{ training?.endDate |  date:'MM.yyyy'  }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
