<div class="bg-white shadow-md p-8 border border-black w-[210mm] min-h-[297mm]">
  <!-- Header Section -->
  <div class="flex items-center gap-4 border-b pb-6 mb-2">
    <img
      *ngIf="resumeData?.profileImage"
      [src]="resumeData?.profileImage"
      alt="Profilbild"
      class="w-40 h-40 object-cover mr-6"
    />
    <div>
      <p class="text-3xl font-bold text-black">
        {{ resumeData.firstName }} {{ resumeData.lastName }}
      </p>
      <div class="mt-2 space-y-1 text-gray-600 ">
        <p
          class="flex justify-start items-start gap-2"
          *ngIf="resumeData?.address"
        >
          <mat-icon class="mr-[5px]">location_on</mat-icon>
          <span class="break-words max-w-full  break-all">{{
            resumeData?.address
          }}</span>
          <br />
        </p>
        <div>
          <span *ngFor="let email of resumeData?.email; let isLast = last">
            <p class="flex items-start gap-2">
              <mat-icon> email</mat-icon>

              {{ email }}<span *ngIf="!isLast"><br /></span>
            </p>
          </span>
        </div>
        <p
          class="flex justify-start items-start gap-2"
          *ngIf="resumeData?.country"
        >
          <mat-icon>home</mat-icon>
          <span class="leading-relaxed break-words max-w-md">{{
            resumeData?.country
          }}</span>
        </p>
        <p
          class="flex justify-start items-start gap-2"
          *ngIf="resumeData?.phone"
        >
          <mat-icon> phone</mat-icon>

          <span class="leading-relaxed break-words max-w-md ">{{
            resumeData?.phone
          }}</span>
        </p>
        <p
          class="flex justify-start items-start gap-2"
          *ngIf="resumeData?.birthDate || resumeData?.placeOfBirth"
        >
          <mat-icon>date_range</mat-icon>

          <span class="whitespace-nowrap">{{
            resumeData?.birthDate |  date:'dd/MM/yyyy'
          }}</span>
        </p>
      </div>
    </div>
  </div>

  <!-- Introduction -->
  <p
    class="text-sm text-gray-600 mt-2 break-words max-w-md  items-center"
  >
    {{ resumeData.aboutMe }}
  </p>

  <!-- Berufliche Laufbahn -->
  <p
    class="mt-8 text-xl font-semibold"
    *ngIf="resumeData.experience && resumeData.experience.length > 0"
  >
    {{ "EXPERIENCE" | translate }}
  </p>
  <div
    class="mt-4 border-l-4 pl-6"
    [ngStyle]="{
          'border-color':
            selectedTheme === 'custom'
              ? customColor
              : colorThemesNew[selectedTheme].head,
        }"
  >
    <div *ngFor="let job of resumeData.experience" class="relative mb-6">
      <div
        class="absolute -left-[33px] top-1 w-4 h-4 rounded-full"
        [ngStyle]="{
          'background-color':
            selectedTheme === 'custom'
              ? customColor
              : colorThemesNew[selectedTheme].head,
        }"
      ></div>
      <p class="text-gray-600">
        {{ job.startDate |  date:'dd/MM/yyyy'  }} -
        <span *ngIf="!experience?.stillInWork">
          {{ experience?.endDate |  date:'dd/MM/yyyy'  }}</span
        >
        <span *ngIf="experience?.stillInWork"> {{ "NOW" | translate }}</span>
      </p>
      <p class="font-bold">{{ job.jobTitle }}</p>
      <p class="text-gray-600">{{ job.employer }}</p>
      <ul class="list-disc list-inside text-gray-700 text-sm mt-1">
        <li *ngFor="let task of job.tasks">{{ task }}</li>
      </ul>
    </div>
  </div>

  <!-- Ausbildung -->
  <p
    class="mt-8 text-xl font-semibold"
    *ngIf="resumeData.training && resumeData.training.length > 0"
  >
    {{ "TRAINING" | translate }}
  </p>
  <div
    class="mt-4 border-l-4 pl-6"
    [ngStyle]="{
          'border-color':
            selectedTheme === 'custom'
              ? customColor
              : colorThemesNew[selectedTheme].head,

        }"
  >
    <div *ngFor="let edu of resumeData.training" class="relative mb-6">
      <div
        class="absolute -left-[33px] top-1 w-4 h-4 rounded-full"
        [ngStyle]="{
          'background-color':
            selectedTheme === 'custom'
              ? customColor
              : colorThemesNew[selectedTheme].head,
        }"
      ></div>
      <p class="text-gray-600">
        {{ edu.startDate |  date:'dd/MM/yyyy'  }} - {{ edu.endDate |  date:'dd/MM/yyyy'  }}
      </p>
      <p class="font-bold">{{ edu.specialization }}</p>
      <p class="text-gray-600">{{ edu.college }}</p>
    </div>
  </div>

  <!-- EDV-Kenntnisse -->
  <p
    class="mt-8 text-xl font-semibold"
    *ngIf="resumeData.skills && resumeData.skills.length > 0"
  >
    {{ "SKILLS" | translate }}
  </p>
  <div class="mt-4 flex gap-4">
    <span
      *ngFor="let skill of resumeData.skills"
      class="text-white px-2 py-2 rounded"
      [ngStyle]="{
          'background-color':
            selectedTheme === 'custom'
              ? customColor
              : colorThemesNew[selectedTheme].head,

        }"
      >{{ skill }}</span
    >
  </div>
</div>
